@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Spline Sans', sans-serif;
}

/* TODO: make input for transform origin */
#canvas * {
  transform-origin: center;
  transform-box: fill-box;
}

svg {
  overflow: visible;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.canvas-bg-color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
}

.canvas-bg-color-picker::-webkit-color-swatch {
  border-radius: 0.5rem;
  border: 1px solid white;
}

/** highlight js style theme **/

code {
  margin-left: -4.5rem;
}

.hljs {
  color: #abb2bf;
  background: transparent;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #98c379;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
